button {
  background-color: lightblue;
}

body {
  background-image: url(colorfulBackground.jpg);
  background-size: cover;
}

header {
  color: rgb(91, 41, 0); /*rgb(22, 109, 113);*/
/*  border-bottom: 2px solid black;*/
  /*width: 350px;*/
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  /*background-color: rgb(123, 180, 183);*/
  /*margin: 10px 0px;*/
}

/*.btn {
	color: rgb(91, 41, 0);
	background-color: rgb(13, 93, 104);
}*/

.jumbotron {
  background-color: rgba(177, 215, 217, .9);

}

.textField {
  background-color: rgba(173, 206, 208, 1);
  outline: none;
  max-width: 30%
  /*margin-bottom: 0px;*/
  /*content: center;*/
  /*margin-left: 20px*/
}

.textArea {
  background-color: rgba(173, 206, 208, 1);
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  /*margin-left: 20px*/
}

.retrievedSnippetName {
	background-color: lightblue;
}

.debug {
	/*background-color: rgba(177, 215, 217, .9);*/
	color: rgb(91, 41, 0);
	margin-top: 1rem;
}

.search {
	margin-top: 1rem;
}

.title {

}

.codeContents {
  /*border: 2px solid black;*/
  background-color: white;
  /*margin-bottom: 1em;*/
}

.codeName {
  background-color: rgba(177, 215, 217, .9);
  margin-bottom: 0px;
}