button {
  background-color: lightblue;
}

body {
  background-image: url(colorfulBackground.jpg);
  background-size: cover;
}

header {
  color: rgb(91, 41, 0);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
  background-color: rgba(177, 215, 217, .9);

}

.textField {
  background-color: rgba(173, 206, 208, 1);
  outline: none;
  max-width: 30%
}

.textArea {
  background-color: rgba(173, 206, 208, 1);
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.retrievedSnippetName {
  background-color: lightblue;
}

.debug {
  color: rgb(91, 41, 0);
  margin-top: 1rem;
}

.search {
  margin-top: 1rem;
}

.codeContents {
  background-color: white;
}

.codeName {
  background-color: rgba(177, 215, 217, .9);
  margin-bottom: 0px;
}